#page-logo{
    font-family: 'Product Sans', monospace;
    font-size: 25px;
    margin-left: 12px;
    margin-top: -2px;
}
#page-logo-icon{
    margin-right: 1px;

}

#imgRes {
    margin-top: 80px;
}

#imgResBackup{
    display: none;
}

.border-top {
    margin-top: 800px;
}

h6 {
    font-family: 'Google Sans', monospace;
}
span {
    font-family: 'Google Sans', monospace;
}

.section {
    margin-top: -18px;
}


@media only screen and (max-width: 600px) {
    #imgRes{
        display: none;
    }
    #imgResBackup {
        display: block;
    }
    h6 {
        font-size: .80em;
    }
}