#page-logo{
    font-family: 'Product Sans', monospace;
    font-size: 25px;
    margin-left: 12px;
    margin-top: -2px;
}
#page-logo-icon{
    margin-right: 1px;

}

#imgRes {
    margin-top: 80px;
}

#imgResBackup{
    display: none;
}

.border-top {
    margin-top: 800px;
}

h6 {
    font-family: 'Google Sans', monospace;
}
span {
    font-family: 'Google Sans', monospace;
}

.section {
    margin-top: -18px;
}


@media only screen and (max-width: 600px) {
    #imgRes{
        display: none;
    }
    #imgResBackup {
        display: block;
    }
    h6 {
        font-size: .80em;
    }
}

/** ucard **/
.card{
    border-radius: 15px 15px 15px 15px;
}
.card.ucard{
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
}

.card.ucard:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card.ucard img{
    position: absolute;
    top: 20px;
    right: 15px;
    max-height: 120px;
}

.card-1.ucard{
    background-image: url(../design/images/ionic-native-card.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.card-2.ucard{
    background-image: url(../design/images/components-card.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.card-3.ucard{
    background-image: url(../design/images/theming-card.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

@media(max-width: 990px){
    .card.ucard{
        margin: 20px;
    }
} 