@model FoodRestaurant
@{
    Layout = "_LayoutRestaurant";
}

<div class="card">
    <div class="card-content">
         <form method="post">
           <div class="row">
               <input type="hidden" asp-for="RestaurantId"/>
               <div class="row">
                   <div class="input-field col s12">
                       <select asp-for="FoodId" asp-items="Model.AvailableFoodsCanBeAdded"></select>
                       <label>Choose the food item</label>
                   </div>
               </div>
               <div class="row">
                 <div class="input-field col s12">
                   <input placeholder="Restaurant Name" asp-for="FoodRestaurantPrice" type="number" class="validate">
                   <label>Price</label>
                 </div>
               </div>
               <div class="row">
                 <button type="submit" class="btn blue darken-2">Add a new food</button>
               </div>
           </div>
       </form>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>

<script type="text/javascript">
    $( document ).ready(function() {
      $("#_tabRestaurantBreads").attr('class', 'active');
    });
</script>