@model Restaurant
@{
    Layout = "_LayoutRestaurant";
}

<div class="col s12 l12">
  <h2 class="header">Horizontal Card</h2>
  <div class="card horizontal">
    <div class="card-image">
      <img src="~/design/images/undraw_Hamburger_8ge6.svg" alt="">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>@Model.RestaurantAverageRating</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
</div>

